/* 1 REM = 10 px */

/*Acá vamos a poner los colores que estamos usando
Guardandolos como variables*/
:root {
    /* Colores /Palette */
    --primary-solid: #FF3333;
    /* transparencias de este color */
    --primary-900: rgba(247, 9, 9, 0.9);
    --primary--500: rgba(247, 9, 9, 0.5);
    --primary--300: rgba(247, 9, 9, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(5, 169, 245, 0.9);
    --secondary-500: rgba(5, 169, 245, 0.5);
    --secondary-300: rgba(5, 169, 245, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);


    --bg-black-solid: #30343F;
    --bg-light-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Tipografias/ Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes / tamaños de texto */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.4em;

    /* espacios, margenes /Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem; 
}


*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    /* tamaño de la caja es box-sizing  */
    box-sizing: border-box;
    
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: var(--base-font);
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}
img{
    /* NORMALIZAMOS LA ETIQUETA, 100% quiere decir que siempre va a tener el 100%
    del ancho de su contenedor padre */
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* Para alinear el dibujito al lado de un enlace */

/***************** HEADER *******************/
header{
    background-color: var(--bg-black-solid);
    padding: var(--spacing-36);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar--logo{
    /* Las imagenes al ser ETIQUETAS EN LINEA al poner un ancho maximo
    al contenedor, no les importa, la imagen tiene overflow, se escapa
    PARA EVITAR ESTAS CUESTIONES, normalmente se tiene que normalizar la etiqueta 
    img, todas sus aplicaciones  */
    max-width: 300px;
}

.navbar--menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
    /* Distancia para los elementos del menu con GAP */
}

.navbar--link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    /* POSITION RELATIVE: para que el submenu sea relativo al padre  
    no al body de la pagina */
    position: relative;
}
.navbar--link:hover{
    background-color: var(--primary-900);
}

.width-icon{
    display: flex;
    align-items: center;
    /* GAP para espacios CON DISPLAY FLEX */
    gap: var(--spacing-8);
}

/* Para que el submenu de SHOP no este a la vista, a salvo que se haga click sobre shop */
.width-submenu:hover .submenu{
    display: block;
}

.submenu{
    /* Para OCULTAR este menu de la pagina 
    vamos a darle un position: absolute */
    position: absolute;
    background-color: var(--bg-black-solid);
    /* none en dsiplay oculta el submenu y como arriba le pusimos propiedades a hover */
    display: none;
    width: 300px;
    z-index: 3;
    
}

.submenu--item{
    /* Para poder darle tamaño al elemento display: block */
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);

}

.submenu--link:hover{
    background-color: var(--primary-900);
}
/* ************* BARNER *********** */
.hero{
    background-image: url(../img/funkos-banner.webp);
    /* PARA DARLE ALTURA A LA IMAGEN */
    padding: var(--spacing-128);
    /* Para que la imagen no se corte y se repita  */
    background-size: cover;
    /* Para lograr que cuando hagamos scrol la imagen quede estatica */
    background-attachment: fixed;

}
.hero::before{
    /* Lo que buscamos es que el texto no se vea afectado por el efecto que le vamos a poner a la imagen de fondo */
    content: '';
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* backdrop-filter: blur(2px) brightness(.7); */
}

.hero--content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero--title{
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);   
}

.hero--text{
    font-family: var(--alternative-font);
    color: var(--light-font-solid); 
    font-size: var(--font-medium);
}

.hero--link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--bg-light-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500px;
    transition: all .3s;
    /* Para que los elementos no esten pegados  */
}
.hero--link:hover{
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/************ COLECCIONES / COLLECTIONS ***************/
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}
/* Esto va a ser para que la imagen de coleccion aparezca del otro lado */
.collection:nth-child(2) .collection--cover{
    order: -1;
}
.collection--content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;

}

.collection--tittle{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}
.collection--text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20); 
}
.collection--link{
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--bg-black-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
}
.collection--link:hover{
    background-color: var(--primary-900);
    transition: background .3s ease-in-out;

}

/* ****** SLIDER / ultimos lanzamientos *********/

.slider{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider--title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}

.slider--items{
    display: flex;
    gap: var(--spacing-24); 
}

.card-item{
    /* background-color:  ; */
}
.card-item--cover{
    display: flex;
    position: relative;
}
.card-item--tag{
    font-size: x-small;
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0%;
}
.card-item--cover img{
    animation: fade .7s;
}



.card-item--img--back{
    display: none;
}
.card-item--cover:hover .card-item--img--back{
    display: block;
}
.card-item--cover:hover .card-item--img--front{
    display: none;
}

.card-item--content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item--licence{
   font-size: var(--font-small);
   font-weight: 500; 
}
.card-item--name{
    font-size: var(--font-medium);
    font-weight: 700; 
 }

 .card-item--precio{
    font-size: var(--font-small);
 
 }
 .card-item--promo{
    font-size: var(--font-small);
    color: var(--secondary-solid);
    font-weight: 700; 
 }